<body class="text-center">

  <div class="cover-container d-flex p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Таск-трекер</h1>
      <p class="lead">Это таск-трекер на ангуляре</p>
      <p class="lead d-flex justify-content-center">
        <a class="btn btn-lg btn-primary" routerLink="/taskForm/0">Создать задачу</a>
        &nbsp;
        <a class="btn btn-lg btn-primary" routerLink="/tasks">Список задач</a>
      </p>
    </main>

  </div>

</body>